@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}


html, body{
  font-size: 16px;
  background-color: rgb(49, 82, 114);
}

.box{
  background: linear-gradient(to top, #445d72, #345672 100%, #4c6981 0%);;
  max-width: 1200px;
  min-height: 500px;
  overflow: auto;
  border: 3px solid #39627e;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 9px 4px #0000005b;
}

#card:hover{
  box-shadow: 1px 1px 10px 3px #397196;
  transform: scale(1.01, 1.01);
}

.color-white {
  color: white;
}

.border-bg{
  border-right: 4px double rgb(29, 160, 212);

}

.awsIcon{
  font-size: 1.3rem;
  color: lightsteelblue;
}

.text-color-error{
  color: rgb(153, 15, 15);
}