@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}


html, body{
  font-size: 16px;
  background-color: rgb(32, 70, 105);
}

.box{
  max-width: 1200px;
  min-height: 500px;
  overflow: auto;
  border: 3px solid rgb(57, 98, 126);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 9px 4px #0000005b;
}

.color-white {
  color: white;
}